body {
        background-image: url('./assets/bgstar2.gif');
        background-color: black;
        /* margin: 0; */
        /* padding: 0; */
}

main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
}

header {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 1px solid darkred;
        border-radius: 10px;
        /* -webkit-backdrop-filter: blur(15px); */
        backdrop-filter: blur(3px);
}

form {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin: 10px;
}

.button-con {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.astrology {
        color: white;
        border: 1px solid darkred;
        border-radius: 10px;
        backdrop-filter: blur(3px);
}


.select-con {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        max-width: 100px;
}

.dropdown-box input {
        border: 1px solid darkred;
        outline: none;
}

.dropdown-box .selected-item {
        position: relative;
}

.dropdown-box .selected-item::after {
        content: "";
        width: 3px;
        height: 3px;
        border: 1px solid;
        border-color: transparent rgb(129, 129, 129) rgb(129, 129, 129) transparent;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-70%) rotate(45deg);
}

.dropdown-box .selected-item,
.dropdown-box .selected-item input {
        cursor: pointer;
}

.dropdown-box .dropdown-content {
        box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
        border-radius: 5px;
        max-height: 240px;
        overflow: auto;
        display: none;
}

.dropdown-box.active .dropdown-content {
        display: block;
}

.dropdown-box .dropdown-content .search-input {
        padding: 5px;
}

.dropdown-box .dropdown-content ul {
        list-style: none;
}

.dropdown-box .dropdown-content ul li {
        font-size: 0.8rem;
        padding: 2px 5px;
        cursor: pointer;
}

.dropdown-box .dropdown-content ul li:hover {
        background-color: rgb(245, 245, 245);
}

.dropdown-box .dropdown-content ul li.active {
        background-color: rgb(213, 242, 246);
        color: blue;
}

.alchemy {
        color: white;
}

footer {
        color: white;
}
