body {
        background-image: url('./assets/bgstar2.gif');
        margin: 0;
        padding: 0;
}

header {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
}


.button-con {
        display: flex;
        flex-direction: column;
        align-items: center;
}
